**/*.swp
data/sentences.csv
web/node_modules
/.idea/
.idea/GDC-KAH-Hackathon-AUG.iml
.idea/compiler.xml
.idea/copyright/
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
