{
  "presets": [
    "babel-preset-philpl"
  ],
  "ignore": [
    "/node_modules/"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-es2015-modules-commonjs",
    "transform-runtime"
  ]
}
